.heading {
    color: black;
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 0; /* Combined with previous .heading rule */
}

.address {
    font-size: 25px;
}

#services {
    padding: 30px 0;
}

.container {
    display: flex;
    flex-direction: column; /* Align items from top to bottom */
    align-items: center; /* Center align horizontally */
    justify-content: flex-start; /* Align items to the top */
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 10px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
}

.services-list div a {
    text-decoration: none;
    color: blue; /* Change link color */
    font-size: 14px;
}

.services-list div:hover {
    background:yellow;
    transform: translateY(-10px);
}
